

.productDetails_upper{
    width: 80%;
    margin: 20px auto;
    /* background-color: aqua; */
    display: flex;
    
}

.productDetails_quantity{
    /* background-color: brown; */
}

.productDetails_addCartBtn{
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 3px;
    border: 0px solid;
    cursor: pointer;
    background-color: coral;
}

.productDetails_mainImg{
    /* background-color: blueviolet; */
    text-align: center;
    margin: 0px 50px;
}

.productDetails_others{
    
}

.productDetails_reviews{
    width: 80%;
    margin: auto;
}
#comment{
    padding: 5px;
    width: 50%;
}
.productDetails_commentBtn{
    padding: 5px 10px;
    margin: 0px 10px;
    cursor: pointer;
}
.productDetails_comments{
    margin: 20px 0px;
}
.productDetails_commentBox{
    display: flex;
    margin: 5px 0px;
    align-items: center;
    border-bottom: 1px dotted;
    padding: 10px;
    width: 70%;
}
.productDetails_commentImg{
    margin: 0px 20px 0px 0px;
    background-color: rgb(30, 2, 56);
    border-radius: 50%;
    padding: 10px 20px;
    color: azure;
}

@media screen and (max-width : 600px) {
    .productDetails_upper{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        
    }
    .productDetails_mainImg{
        width: 100%;
        margin: 0px auto 25px auto;
        padding: 10px;
    }
    .productDetails_reviews{
        width: 80%;
    }
    .productDetails_commentBox{
        width: 100%;
    }
}
