*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.CreateCategory_input{
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    display: block;
}

.CreateCategory_btn{
    padding: 10px;
    cursor: pointer;
    background-color: coral;
    border-radius: 10px;
}

.CreateCategory_form{
    background-color: rgb(222, 243, 214);
    padding: 15px;
    width: 40%;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 30px;
    border: 1px solid rgb(68, 224, 6);
}

#CreateCategory_alert{
    display: none;
    /* background-color: rgb(63, 211, 27); */
    /* background-color: rgb(255, 63, 15); */
    padding: 10px;
}
#CreateCategory_alert div{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width : 600px) {
.CreateCategory_form{
    width: 80%;
    border-radius: 10px;
}
}